$base-white: #1DB954;
// $main-bg-color: #162129;
$main-bg-color: #FFFFFF;



$primary: #080708;
$p_light: #1DB954;
$p_lighter_less: #1DB954;
$p_lighter: #1DB954;
$p_lightest: #FFFFFF;
$p_dark: #FFFFFF;
$p_darker: #1ED760;
$p_darkest: #FFFFFF;

$dark: #FFFFFF;

$secondary: #1DB954;
$s_light: #1DB954;
$s_lighter: #1DB954;
$s_lightest: #1DB954;
$s_dark: #1DB954;

$p_text: #080708;
$p_text_dimmed: #1DB954;
$s_text: #1DB954;

$post_content_bg_color: #1DB954;
