<!doctype html>
<html>

<head>
  {% include common-head.html %}
  <script>
    {% include underconstruction.js %}
  </script>
</head>
  <body class="is-minimal-menu">
    <main class="content-layout">
        <div class="gate">
          <a href="category-1.html" class="category-container">
            <div class="underconstruction" style="background-image: url('assets/img/pepe-builder.jpg')"></div>
            <p>
              Sitio aun en construcción...
            </p>
          </a>

        </div>
      </main>
  </body>

</html>